body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.loginBox{
    background-color: black;
    width: 400px;
    height: 400px;
    margin-left: 550px;
    margin-top: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    padding:70px 30px;
    color: white;
    border-radius: 5px;
}
.user{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    margin-left: 150px;
}
.loghead{
    color: white;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.input{
    border: none;
    border-bottom: 1px solid white;
    background:transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.submit{
    border: none;
    outline: none;
    height: 40px;
    background:blue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.submit:hover{
    cursor: pointer;
    background: #ffc107;
}

.loginBox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}
.loginBox a:hover{
    color: #ffc107;
}